.App-header {
  background-color: lightslategray;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-logo {
  height: 350px;
}

.App-title {
  font-size: 1.2em;
  text-align: center
}

.App-intro {
  font-size: large;
}

.total {
  left: 50%;
  top: 115px;
  margin: 0 auto;
}

#order-button {
  margin: 20px;
  background-color: lightgreen;
  padding: 1em 20px;
  line-height: 0%;
  z-index: -1;
}

#order-button:focus {
  outline: none
}

.total-price {
  width: 60px;
  height: 60px;
  background-color: #4d4d;
  margin: 0 auto;
  border-radius: 50px;
  display: block;
  box-shadow: 2px 4px 5px grey;
}

.total-price span {
  line-height: 450%;
  margin-left: 9px;
}
 
.toppings-main-label, .bases-main-label, .turbo-drone-main-label, .sauces-main-label {
  font-weight: bold
}

button {
  border-radius: 0px;
  margin: 0 auto;
  cursor: pointer;
}

@media(max-width: 960px){
  .max-3 {
    margin: 0 0 0 60%;
  }
}
