.App-header {
  background-color: lightslategray;
  height: 150px;
  padding: 20px;
  color: white;
}

.left-section {
  width: 60%;
  position: relative;
  min-height: 1px;
  padding: 0 15px;
}

.left-section h1 {
  display: inline;
  z-index: 1;
}

.App-logo {
  height: 120px;
}

.App-title {
  font-size: 1.2em;
  text-align: center
}

.App-intro {
  font-size: large;
}

.total {
  left: 50%;
  top: 115px;
  margin: 0 auto;
}

.total img, .total button{
  /* display: block; */
  max-height: 30%;
}

#order-button {
  margin: 20px;
  background-color: lightgreen;
  padding: 1em 20px;
  line-height: 0%;
  z-index: -1;
}

#order-button:focus {
  outline: none
}

.total-price {
  width: 60px;
  height: 60px;
  background-color: yellow;
  margin: 0 auto;
  border-radius: 50px;
  display: block;
  box-shadow: 2px 4px 5px grey;
}

.total-price span {
  line-height: 450%;
  margin-left: 9px;
}

.toppings-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.max-3 {
  align-self: flex-end;
  font-weight: normal;
  font-size: 12px;
}
/* .total, .App, .left-section {
  border: 1px solid grey;
} */
 
.toppings-main-label, .bases-main-label, .turbo-drone-main-label, .sauces-main-label {
  font-weight: bold
}

button {
  border-radius: 0px;
  margin: 0 auto;
  cursor: pointer;
}

@media(max-width: 960px){
  .max-3 {
    margin: 0 0 0 60%;
  }
}
